body {
    font-family: 'Roboto', sans-serif;
  }
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
}

.left-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-section img{
    width:40% ;
    padding-left: 16px;
}

.mid-section{
    display: flex;
    align-items: center;
    margin-left: -10%;
}

.mid-section form{
    display: flex;
    height: 40px;
    width: 600px;
}
.mid-section input{
    width: 100%;
    border-radius: 2px 0 0 2px;
    padding: 12px;
    font-size: 1.6rem;
    border: 1px solid #d3d3d3;
    border-right: none;
}

.mid-section button{
    width: 64px;
    border: 1px solid #d3d3d3;
    border-radius: 0 2px 2px 0;
    border-top: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.mid-section button:hover{
    border-color: #c6c6c6;
    background-color: #f0f0f0;
}
.mid-section .mic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.right-section a{
    padding-right: 18px;
    text-decoration: none;
    color: black;
}

.content-area{
    height: calc(100vh - 56px);
    display: flex;
    background-color: #f9f9f9;
}

aside{
    height: 100%;
    width: 250px;
    background-color: white;
    overflow-y: auto;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding-right: 15px;
}

.nav-link{
    display: flex;
    align-items:center;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    background-color: rgba(0, 0, 0,0.05);
}
.nav-link span{
    margin-left: 24px;
    font-size: 1.1rem;
    line-height: 2em;
    font-weight: 400;
    color: #030303;
}

.active{
    background-color: #e5e5e5;
}
#active-span{
    font-weight: 500;
}

hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 10px 0;
}

nav p{
    font-size: 1.4rem;
    color:#606060 ;
    font-weight: 500;
    padding: 8px 16px;
    text-transform: uppercase;
}

.channel-img{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}